.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: #242424;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}